@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    min-width: 650px;
    /* max-width: 1000px; */
    margin: 0 auto;
}

/* Artist Directory --------------------------- */

#artist_dir_box {
    border: rgb(199, 199, 199) 1px solid;
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}

#artist_search {
    margin: 0 auto;
    width: 80%;
}

#artist_search input {
    width: 70%;
    height: 30px;
    border: none;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
}

#artist_dir_box button {
    width: 100px;
    height: 32px;
}

.btn_add_style {
    border: none;
    background-color: rgb(199, 199, 199);
    color: black;
}

.btn_add_style:hover {
    cursor: pointer;
    box-shadow: 3px 3px #888888;
}

/* Add Artist Form Block------------------------ */

#artist_form {
    display: none;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.form_input {
    width: 100%;
    text-align: center;
    padding: 10px;
    clear: right;
    border: 1px solid rgb(199, 199, 199);
}

#btn_submit {
    width: 150px;
    padding: 10px;
}


/* Artist Block-------------------------------- */
#artist_container {
    width: 70%;
    margin: 0 auto;
}

.artist_block {
    border: rgb(199, 199, 199) 1px solid;
    border-top: none;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    cursor: pointer;
    clear: left;
}

.artist_block:hover {
    background-color: rgb(199, 199, 199);
}

.artist_desc {
    padding-top: 5px;
    width: 60%;
    height: 75px;
    float: left;
}

.artist_desc>h3 {
    margin-bottom: 0px;
}

.artist_desc>p {
    margin-top: 5px;
    margin-bottom: 0px;

}

.artist_img {
    float: left;
    padding: 5px;
    width: 65px;
    height: auto;
}

.del_btn {
    background-color: rgb(196, 4, 62);
    color: white;
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    border: none;
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    clear: right;
}

.del_btn:hover {
    cursor: pointer;
    box-shadow: 3px 3px #888888;
}