@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
    background-color: rgb(240, 245, 248);
    font-family: 'Nunito', sans-serif;
    padding: 40px;
}

li {
    padding: 5px;
}

#lab_col { 
    float: left;
}

